<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="radhakrishna111" value="https://pkgs.dev.azure.com/radhakrishna111/Third3/_packaging/radhakrishna111/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <radhakrishna111>
      <add key="Username" value="radhakrishna108@gmail.com" />
      <add key="ClearTextPassword" value="rgo26gmgypwl7pxdnjo5uw63h5bvomclfybtk2ngumoiqpfy4bqq" />
    </radhakrishna111>
  </packageSourceCredentials>
</configuration>
